:root {
  --black: rgb(30, 30, 30);
  --mint: rgb(131, 204, 200);
  --gray: #a6a6a6;
  --dark-mint: #6da4a1;
  --lightgrey: rgb(211, 211, 211);
  --post-hover: #f5f5f5;
  --box-shadow: rgba(0, 0, 0, 0.25);
  --list-hover: #f0f9f8;
  --line-gray: #949494;
  --user-black: #2d2d2d;
  --dark-gray: #6a6a6a;
  --error: rgb(240, 0, 0);
  --red: rgb(164, 0, 1);
  --footer: #fafafa;
}
