{% extends 'base.html' %} {% load static %}
{% block title %}비밀번호 재설정 | SLOW:NIQUE{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/users/password_reset.css' %}" />
{% endblock %}
{% block content %}
<main id="password-reset">
  <h3 class="password-reset__title">비밀번호 재설정</h3>
  <p class="password-reset__desc">
    입력하신 이메일 주소로 비밀번호 재설정 페이지가 안내됩니다.
  </p>

  <form class="password-reset__form" method="post">
    {% csrf_token %}
    <p class="password-reset__label">이메일</p>
    {{ form.email }}
    <button>제출</button>
  </form>
</main>
{% endblock %}
