{% extends 'registration/password_reset_form.html' %}
{% block content %}
<main id="password-reset">
  {% if validlink %}
  <h3 class="password-reset__title">비밀번호 재설정</h3>
  <form class="password-reset__form form-long" method="post">
    {% csrf_token %}
    <p class="password-reset__label">새 비밀번호</p>
    {{ form.new_password1 }}

    <p class="password-reset__label">새 비밀번호 확인</p>
    {{ form.new_password2 }}
    {{ form.new_password2.errors}}
    <button>제출</button>
  </form>
  {% else %}
  <h3 class="password-reset__title">유효하지 않은 링크입니다.</h3>
  {% endif %}
</main>
{% endblock %}
