{% extends 'base.html' %} {% load static %} {% block meta %}
<meta property="og:type" , content="website" />
<meta property="og:title" , content="{{brand}}" />
<meta property="og:description" , content="{{brand.desc}}" />
<meta property="og:url" , content="" /> <!-- 배포하면 HTML로 -->
<meta property="og:image" , content="" />
<meta name="twitter:title" , content="{{brand}}" />
<meta name="twitter:description" , content="{{brand.desc}}" />
<meta name="twitter:card" , content="summary" />
<meta name="twitter:url" , content="" /> <!-- 배포하면 HTML로 -->
<meta name="twitter:image" , content="" />
{% endblock %} {% block title %}{{brand}} | SLOW:NIQUE{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/brand/share.css' %}" />
{% endblock %} {% block content %}
<main id="brand-detail">
  <div class="brand-detail__breadcrumb">
    <ul class="d-flex">
      <li><a href="{% url 'brand:list' %}">전체</a></li>
      <i class="fas fa-chevron-right"></i>
      <li>
        <a href="{% url 'brand:list' %}?category={{brand.category.id}}"
          >{{brand.category}}</a
        >
      </li>
    </ul>
  </div>
  <section
    class="brand d-flex"
    data-id="{{brand.id}}"
    data-liked="{{is_liked}}"
  >
    <div class="brand__left">
      <img
        src="{{brand.image.url}}"
        alt="{{brand}}"
        class="brand__img"
        width="500"
        height="250"
      /> <!-- 임시 사이즈 -->
    </div>
    <div class="brand__right">
      <div class="brand__content">
        <h1 class="brand__name">{{brand}}</h1>
        <p class="brand__desc">{{brand.desc}}</p>
        <p class="brand__info">{{brand.info}}</p>
        <a href="{{brand.link}}" class="brand__link">{{brand.link}}</a>
      </div>
      <div class="brand__interactions d-flex">
        <div class="brand__likes d-flex">
          <button
            class="like-btn"
            title="좋아요"
            {% if user.is_authenticated %}
            onclick="onClickLike({{user.id}}, {{brand.id}})"
            {% else %}
            onclick="onClickLogin('{{request.path}}')"            
            {% endif %}
          >
            <i class="fab fa-gratipay fa-xl"></i>
          </button>
          <p class="like-info">
            <span class="like-cnt">{{brand.brandlike_set.all.count}}</span>명이
            좋아한 브랜드
          </p>
        </div>
        {% include "brand/share.html" %}
      </div>
    </div>
  </section>
</main>
{% endblock %} {% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/brand/like.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script src="{% static 'js/brand/share.js' %}"></script>
{% endblock %}
