<nav class="brand-navbar d-flex justify-content-between align-items-center">
  <ul class="d-flex">
    <li data-category="0" class="d-flex flex-column align-items-center">
      <div class="focus hidden"></div>
      <a href="{% url 'brand:list' %}">All</a>
    </li>
    {% for cate in cates %}
    <li
      data-category="{{cate.id}}"
      class="d-flex flex-column align-items-center"
    >
      <div class="focus hidden"></div>
      <a href="{% url 'brand:list' %}?category={{cate.id}}">{{cate}}</a>
    </li>
    {% endfor %}
  </ul>
  {% include "brand/search-form.html" %}
</nav>
