<nav class="brand-navbar">
  <ul>
    <a
      href="{% url 'brand:list' %}"
      class="d-flex flex-column align-items-center"
    >
      <div class="focus hidden"></div>
      <li data-category="0">전체</li>
    </a>
    {% for cate in cates %}
    <a
      href="{% url 'brand:list' %}?category={{cate.id}}"
      class="d-flex flex-column align-items-center"
    >
      <div class="focus hidden"></div>
      <li data-category="{{cate.id}}">{{cate}}</li>
    </a>
    {% endfor %}
  </ul>
  {% include "brand/search-form.html" %}
</nav>
