{% load static %}

<div class="brand__share">
  <button class="share-btn">
    <i class="fas fa-share-alt fa-xl"></i>
    <span>공유하기</span>
  </button>
  <ul class="d-flex">
    <li>
      <button class="kakao" onclick="shareKakao()">
        <img
          src="{% static 'images/kakao.png' %}"
          alt="카카오톡으로 공유하기"
        />
      </button>
    </li>
    <li>
      <button class="twitter" onclick="shareTwitter()">
        <i class="fa fa-twitter"></i>
      </button>
    </li>
    <li>
      <button class="facebook" onclick="shareFacebook()">
        <i class="fa fa-facebook"></i>
      </button>
    </li>
    <li>
      <button class="url-btn" onclick="copyURL()">
        <i class="fas fa fa-link"></i>
      </button>
    </li>
  </ul>
</div>
