.mypage a {
  color: var(--black);
}

.user-info__bg {
  position: relative;
  height: 35vh;
}

.mypage__user-info {
  position: absolute;
  bottom: -9.5rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.user-info__img {
  margin-bottom: 1rem;
  width: 12rem;
  height: 12rem;
}

.user-info__name {
  font-size: 2.5rem;
  font-weight: 500;
}

.user-info__update {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 4.5rem;
  background-color: var(--mint);
  border-radius: 70%;
  width: 2.8rem;
  height: 2.8rem;
}

.user-info__update i {
  color: white;
}

.mypage__history {
  display: flex;
  justify-content: center;
  padding: 13rem 15rem 0 15rem;
}

.mypage__history a {
  padding: 1rem 4rem;
}

.mypage__history a:not(:last-child) {
  border-right: 0.1rem solid var(--mint);
}

.mypage__history a div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.mypage__history a div:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  color: var(--mint);
}

.mypage__history i {
  margin-bottom: 1rem;
}

.mypage__history span {
  font-size: 1.5rem;
}

@media screen and (max-width: 430px) {
  .user-info__bg {
    position: relative;
    height: 25vh;
  }

  .user-info__img {
    margin-bottom: 1rem;
    width: 8rem;
    height: 8rem;
  }

  .mypage__user-info {
    bottom: -8rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .user-info__name {
    font-size: 2rem;
    font-weight: 500;
  }

  .mypage__history {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 13rem 5rem 0 5rem;
  }

  .mypage__history a {
    width: 50%;
    padding: 2rem 1rem;
  }

  .mypage__history a:first-child {
    border-right: 0.1rem solid var(--mint);
    border-bottom: 0.1rem solid var(--mint);
  }

  .mypage__history a:nth-child(2) {
    border-bottom: 0.1rem solid var(--mint);
    border-right: none;
  }
}
