

.mypage a {
    color: var(--black);
}

.user-info__bg {
    position: relative;
}

.mypage__user-info {
    position: absolute;
    bottom: -9.5rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.user-info__img {
    margin-bottom: 1rem;
}

.user-info__name {
    font-size: 2.5rem;
    font-weight: 500;
}

.user-info__update {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 4.5rem;
    background-color: var(--mint);
    border-radius: 70%;
    width: 2.8rem;
    height: 2.8rem;
}

.user-info__update i {
    color: white;
}

.mypage__history {
    display: flex;
    justify-content: center;
    padding: 13rem 15rem 0 15rem;
}

.mypage__history a {
    padding: 1rem 4rem;
}

.mypage__history a:not(:last-child) {
    border-right: 1px solid var(--mint);
}

.mypage__history a div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.mypage__history a div:hover {
    transform:scale(1.05);           
    -webkit-transform:scale(1.05);     
    -moz-transform:scale(1.05);      
    -o-transform:scale(1.05);
    color: var(--mint);           
}

.mypage__history i {
    margin-bottom: 1rem;
}

.mypage__history span {
    font-size: 1.5rem;
}