#password-reset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.password-reset__title {
  font-weight: 700;
  font-size: 2.2rem;
  opacity: 0.9;
  padding: 3rem 0;
}

.password-reset__desc {
  text-align: center;
  line-height: 3rem;
  padding-bottom: 3rem;
}

.password-reset__form {
  width: 22%;
}
.form-long {
  width: 25%;
}

.password-reset__label {
  padding: 1rem 0;
  font-size: 1.6rem;
  color: var(--gray);
  font-weight: 500;
}

input {
  width: 100%;
  height: 4.3rem;
  border: 1px solid var(--lightgrey);
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  font-size: 1.4rem;
}

input[name="new_password1"] {
  margin-bottom: 0.5rem;
}

input:focus {
  outline: 1px solid var(--gray);
}

button {
  width: 100%;
  border: none;
  background-color: var(--black);
  color: white;
  height: 4.5rem;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  margin-top: 3.5rem;
}

.errorlist {
  text-align: right;
  color: var(--error);
  font-size: 1.3rem;
  margin-top: 0.5rem;
}

.login-button {
  width: 20rem;
  border: none;
  background-color: var(--black);
  color: white;
  height: 4.3rem;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button:hover {
  color: white;
}
