.mypage__header {
  margin-bottom: 11.8rem;
}

.user_bg {
  background: url("/static/images/green.jpg") fixed;
  width: 100%;
  height: 22.4rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.user_pr {
  position: absolute;
  top: 26.4rem;
  left: 21.3rem;
  display: flex;
  text-align: center;
}

.user-img {
  width: 12rem;
  height: 12rem;
  border-radius: 70%;
  object-fit: cover;
  margin-right: 1.5rem;
}

.user_summary {
  position: relative;
  top: 6.9rem;
}

.user_name {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: left;
  margin-bottom: 0.3rem;
}

#user_name {
  color: var(--user-black);
}

.user_post {
  display: flex;
  font-size: 1.3rem;
  justify-content: space-between;
}

.user_post a {
  color: var(--mint);
}

#write_post {
  padding-right: 1rem;
}

#like_post {
  letter-spacing: -0.1rem;
}

@media screen and (max-width: 430px) {
  .mypage__header {
    margin-bottom: 10rem;
  }

  .user_bg {
    background-position: 85%;
    /* background: url("/static/images/green.jpg");
    background-size: cover; */
  }
  .user_pr {
    top: 22.5rem;
    left: 13.5rem;
    flex-direction: column;
    align-items: center;
  }
  .user-img {
    margin-right: 0;
  }
  .user_summary {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
