.nav-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 17.5rem 0 15rem;
}

.nav-post {
  display: flex;
  font-size: 1.8rem;
  font-weight: bold;
  gap: 1.3rem;
}

.nav-post a {
  padding-bottom: 0.2rem;

  border-bottom: 0.2rem solid var(--mint);
  color: var(--mint);
}

/* #like-post {
  color: var(--dark-gray);
  letter-spacing: -0.15rem;
} */

.nav-sort {
  display: flex;
}

.keyword-container {
  border-bottom: 0.2rem solid var(--dark-gray);
  width: 25.5rem;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  margin-right: 0.5rem;
}

.keyword-container input {
  border: none;
  width: 21.5rem;
  height: 2.4rem;
}

.keyword-container input::placeholder {
  color: var(--gray);
}

.keyword-container input:focus {
  outline: none;
}

.keyword-container button {
  color: var(--dark-gray);
  font-size: 2rem;
}

.sort-select {
  width: 8.6rem;
}

.sort-select span {
  font-weight: 500;
}

.sort-select:hover .optionList {
  opacity: 1;
  visibility: visible;
}

.sort-select:hover .select-default span::after {
  content: "▲";
  float: right;
  animation: changeLetter 0.5s linear 1;
}

@keyframes changeLetter {
  0% {
    content: "▼";
  }
  49% {
    content: "▼";
    opacity: 0;
  }
  50% {
    content: "▲";
    opacity: 0.1;
  }
  100% {
    content: "▲";
    opacity: 1;
  }
}

.select-default {
  border-radius: 0.4rem;
  background-color: white;
  color: var(--mint);
  display: flex;
  justify-content: center;
}

.select-default span::after {
  content: "▼";
  float: right;
  padding-left: 0.5rem;
}

.optionList {
  width: 8.5rem;
  position: absolute;
  background-color: white;
  border-radius: 0.4rem;
  margin-top: 0.5rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s linear, visibility 1s linear;
  box-shadow: 0rem 0.4rem 1.5rem var(--box-shadow);
  list-style: none;
  text-align: center;
  color: var(--gray);
  z-index: 100;
}

.optionListItem:hover {
  background-color: var(--list-hover);
  color: var(--mint);
}

@media screen and (max-width: 430px) {
  .mypage__header {
    margin-bottom: 1rem;
  }
  .user_summary {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.1rem;
  }

  .nav-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 1.5rem 0 1.5rem;
  }

  .nav-post {
    display: none;
  }
  .nav-sort {
    margin-top: 10rem;
  }
  .sort-select {
    position: relative;
    left: 2.75rem;
  }
}
