.post-list {
  width: 100%;
  padding: 3.5rem 27.5rem 0 20rem;
  display: flex;
}

.vl {
  border-left: 1px solid var(--line-gray);
  margin: 5rem 0 5rem 0;
  padding-right: 2rem;
  position: relative;
}

.posts {
  width: 100%;
}

.post-created {
  position: relative;
  left: -8.5rem;
  top: 3.5rem;
  color: var(--gray);
  font-size: 1.1rem;
}

.post-circle {
  background-color: var(--line-gray);
  border-radius: 2rem;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  left: -2.8rem;
  top: 2rem;
}

.post-profile {
  display: flex;
  border-bottom: 1px solid #e3e3e3;
}

.post-write {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -1.3rem;
  margin-right: 2.4rem;
}

.post-write span {
  font-size: 1.1rem;
  color: var(--user-black);
}

.post-author img {
  width: 5rem;
  height: 5rem;
}

.post-content {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -1.85rem;
}

.post-title,
.post-preview {
  font-size: 1.4rem;
}

.post-title {
  color: var(--user-black);
}

.post-preview {
  color: #6d6d6d;
  font-weight: lighter;
}

.post-res {
  font-size: 1.2rem;
}
