.post-list {
  width: 100%;
  padding: 3.5rem 17.5rem 0 20rem;
  display: flex;
}

.vl {
  border-left: 0.1rem solid var(--line-gray);
  margin: 4.4rem 0 5.2rem 0;
  padding-right: 2rem;
  position: relative;
}

.posts {
  width: 100%;
}

.post-created {
  position: relative;
  left: -8.5rem;
  top: 3.5rem;
  color: var(--gray);
  font-size: 1.1rem;
}

.post-circle {
  background-color: var(--line-gray);
  border-radius: 2rem;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  left: -2.8rem;
  top: 2rem;
}

.post-profile {
  display: flex;
  border-bottom: 0.1rem solid #e3e3e3;
}

.post-write {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -0.3rem;
  margin-right: 2.4rem;
  min-width: 7.5rem;
  align-items: center;
  text-align: center;
}

.post-write span {
  font-size: 1.2rem;
  color: var(--user-black);
}

.post-author img {
  width: 3rem;
  height: 3rem;
}

.post-content {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -1.45rem;
}

.post-title,
.post-preview {
  font-size: 1.4rem;
  width: 100rem;
}

.post-title {
  color: var(--user-black);
  font-weight: bold;
}

.post-preview {
  color: var(--dark-gray);
  font-weight: lighter;
}

.post-res {
  font-size: 1.2rem;
  width: 100rem;
  display: flex;
}

.post-like {
  margin-right: 1rem;
}

.like-icon {
  color: rgb(164, 0, 1);
}

.comment-icon {
  color: var(--mint);
}

@media screen and (max-width: 430px) {
  .post-list {
    width: 100%;
    padding: 0.35rem 1.5rem 0 1.5rem;
    display: flex;
  }

  .vl,
  .post-circle {
    display: none;
  }

  .post-created {
    position: relative;
    left: 31.75rem;
    top: 1rem;
    color: var(--gray);
    font-size: 1rem;
  }

  .post-profile {
    display: flex;
    border-bottom: 0.01rem solid #e3e3e3;
  }

  .post-write {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -0.5rem;
    margin-right: 0.24rem;
    min-width: 7.5rem;
    align-items: center;
    text-align: center;
  }

  .post-write span {
    font-size: 1.2rem;
    color: var(--user-black);
  }

  .post-author img {
    width: 4rem;
    height: 4rem;
  }

  .post-content {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -0.5rem;
  }

  .post-title,
  .post-preview {
    font-size: 1.3rem;
    width: 20rem;
  }

  .post-preview {
    font-size: 1.2rem;
  }

  .post-res {
    font-size: 1.1rem;
    width: 20rem;
    display: flex;
  }

  .post-like {
    margin-right: 0.5rem;
  }
}
