.post-detail {
  display: flex;
  justify-content: center;
  font-family: "Noto Sans KR", sans-serif;
}

.post {
  width: 55%;
  border: 0.1rem solid var(--lightgrey);
  padding: 1.5rem;
}

.post-detail__user > a {
  color: var(--black);
  font-weight: 500;
}

.post-detail__user {
  width: 100%;
  border-bottom: 0.1rem solid var(--lightgrey);
  padding-bottom: 1.5rem;
}

.post-detail__username {
  padding: 0 1rem;
}

.post-detail__content > div {
  width: 100%;
}

/* .post-detail__content > div > p {
    width: 72.7%;
} */

.post-detail__content {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.post-detail__title {
  margin-bottom: 3rem;
}

.post-reaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2.5rem;
  padding-bottom: 1rem;
}

.post-reaction button {
  border: none;
  background: none;
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
}

.post-like__container {
  display: flex;
}

.post-like__info {
  margin-left: 0.7rem;
  color: var(--black);
  font-size: 1.5rem;
  padding-top: 0.2rem;
}

/* .post-share {
    padding-bottom: 0.8rem;
} */

.post-share button {
  color: var(--black);
}

.post-share button:hover {
  color: var(--mint);
}

.post-detail__btns {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem 0 2rem;
  margin-bottom: 0;
  border-top: 0.1rem solid var(--lightgrey);
}

.post-detail__btns a,
.post-btn__del {
  color: var(--black);
  opacity: 0.8;
  background-color: var(--lightgrey);
  padding: 0.7rem 1.2rem;
  font-size: 1.3rem;
  border-radius: 0.2rem;
}

.post-btn__update {
  margin-left: 1rem;
}

.btns__user {
  display: flex;
  justify-content: flex-end;
  text-align: end;
}

.post-comment {
  display: flex;
  flex-direction: column;
  width: 22%;
  border: 0.1rem solid var(--lightgrey);
  border-left: none;
  padding: 1.5rem;
  position: relative;
}

.post-comment__info {
  width: 100%;
  border-bottom: 0.1rem solid var(--lightgrey);
  height: 4.6rem;
  padding-bottom: 1.5rem;
}

.post-comment__scroll {
  width: 100%;
  height: 65%;
  /* height: 48.6rem; */
  position: relative;
}

.post-comment__ul {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  border-bottom: 0.1rem solid var(--lightgrey);
  padding: 1rem 0;
}

.post-comment__ul::-webkit-scrollbar {
  background-color: var(--white);
  /* border-right: 0.2px solid var(--lightgrey);
    border-left: 0.2px solid var(--lightgrey); */
  border: none;
}

.post-comment__ul::-webkit-scrollbar-thumb {
  background-color: var(--lightgrey);
  border-radius: 1rem;
}

.comment__message {
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
  font-size: 1.5rem;
  word-break: break-all;
}

.comment__main {
  padding: 1rem 0;
}

.comment__main > a {
  color: var(--black);
}

.comment__user {
  font-weight: 500;
  margin-left: 1rem;
}

.comment__main > button {
  background: none;
  border: none;
  color: var(--gray);
  padding: 0 0.3rem;
  font-size: 1.3rem;
  white-space: nowrap;
}

.button-division {
  color: var(--gray);
  font-size: 1.3rem;
}

.comment__edit {
  padding: 1rem 0;
}

.post-comment__input {
  position: absolute;
  bottom: 1.5rem;
  right: 0;
  left: 1rem;
  padding-top: 1.5rem;
  background-color: white;
  gap: 0.5rem;
}

.comment-input,
.comment__edit-input {
  width: 78%;
  height: 3.4rem;
  color: var(--black);
  border: none;
  border: 0.1rem solid var(--gray);
  font-size: 1.3rem;
  border-radius: 0.2rem;
  padding-left: 0.8rem;
}

.comment-input:focus {
  outline: none;
}

.comment__add-btn,
.comment__update-btn {
  border: none;
  background-color: var(--lightgrey);
  color: var(--black);
  border-radius: 0.3rem;
  height: 3.4rem;
  width: 17%;
  font-size: 1.3rem;
  opacity: 0.8;
}

.comment__add-btn:hover,
.comment__update-btn:hover {
  background-color: var(--mint);
}

input {
  outline: none;
}

@media screen and (max-width: 430px) {
  .post-detail {
    flex-direction: column;
    align-items: center;
  }

  .post {
    width: 90%;
    padding: 1rem 1.5rem;
    border-bottom: none;
  }

  .post-comment {
    width: 90%;
    height: 25rem;
    padding: 1rem 1.5rem;
    border: 1px solid var(--lightgrey);
  }

  .post-detail__user {
    padding-bottom: 0.8rem;
  }

  .post-detail__content {
    padding: 2rem 0.8rem;
  }

  .post-detail__content > div > p {
    font-size: 1.3rem;
  }

  .post-reaction {
    padding: 0.5rem 1.5rem;
    font-size: 1.3rem;
  }

  .post-detail__btns {
    padding: 1rem 1.5rem 0 1.5rem;
  }

  .post-detail__btns a,
  .post-btn__del {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
  }

  .post-btn__update {
    margin-left: 0.6rem;
  }

  .post-comment__info {
    height: 3rem;
    padding-bottom: 0.6rem;
    font-size: 1.5rem;
  }

  .post-comment__input {
    height: 2.5rem;
    font-size: 1.1rem;
    padding-top: 0.5rem;
  }

  .comment__add-btn,
  .comment__update-btn {
    height: 3.4rem;
    width: 15%;
    font-size: 1.3rem;
  }

  .comment__update-btn {
    margin-left: 0.5rem;
  }

  .comment__main {
    padding: 0 0 0.6rem 0;
    display: flex;
    align-items: center;
  }

  .comment__user {
    margin: 0 0.7rem 0 0.5rem;
  }

  .comment__message {
    padding: 0;
    margin-bottom: 0;
    font-size: 1.3rem;
  }

  .comment__main > button {
    padding: 0;
    font-size: 1.1rem;
    margin: 0 0.5rem;
    white-space: nowrap;
  }

  .button-division {
    font-size: 1.1rem;
  }

  .comment__edit {
    padding: 1rem 0;
  }
}
