.post-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8rem 17.5rem 0 20rem;
}

.keyword-container {
  border-bottom: 0.2rem solid var(--mint);
  width: 46rem;
  display: flex;
  justify-content: space-between;
}

.keyword-container input {
  border: none;
  width: 43rem;
}

.keyword-container input::placeholder {
  color: var(--gray);
}

.keyword-container input:focus {
  outline: none;
}

.keyword-container button {
  color: var(--gray);
  font-size: 1.5rem;
}

.sort-header {
  display: flex;
  align-items: center;
}

.post-create {
  display: flex;
  width: 12.8rem;
  height: 3rem;
  background-color: var(--mint);
  border-radius: 1rem;
  justify-content: center;
}

.post-create:hover {
  background-color: var(--dark-mint);
}

.post-create__btn {
  color: white;
  padding-right: 0.6rem;
  padding-top: 0.2rem;
}

.post-create__btn:hover {
  color: white;
}

.post-create__btn img {
  padding-right: 0.2rem;
  padding-bottom: 0.3rem;
  color: white;
}

@media screen and (max-width: 430px) {
  .post-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.8rem 1.75rem 1rem 1.5rem;
  }

  .keyword-container {
    border-bottom: 0.2rem solid var(--mint);
    width: 25rem;
    display: flex;
    justify-content: space-between;
  }

  .keyword-container input {
    border: none;
    width: 23rem;
  }

  .keyword-container input::placeholder {
    display: none;
  }

  .keyword-container input:focus {
    outline: none;
  }

  .keyword-container button {
    color: var(--gray);
    font-size: 1.5rem;
  }

  .sort-header {
    display: flex;
    align-items: center;
  }

  .post-create {
    display: flex;
    width: 2.8rem;
    height: 2.8rem;
    background-color: var(--mint);
    border-radius: 5rem;
    justify-content: center;
    align-items: center;
  }

  .post-create__btn {
    position: relative;
    left: 0.06rem;
    bottom: 0.1rem;
    width: 4.2rem;
    height: 4.2rem;
  }

  .post-create__btn span {
    display: none;
  }

  .post-create__btn img {
    width: 4.2rem;
    height: 4.2rem;
  }

  .post-create button {
    width: 1.5rem;
    height: 1.5rem;
  }
  .post-create button img {
    position: relative;
    left: -1.3rem;
    bottom: 1.3rem;
  }
}
