#poster {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.post a {
  color: var(--black);
}

.post:hover {
  background-color: var(--post-hover);
  border-radius: 1rem;
}

.post:hover .post-circle {
  background-color: var(--mint);
}

.post-preview {
  color: var(--gray);
}

.post-write {
  display: flex;
  align-items: center;
  text-align: center;
}

.post-res {
  display: flex;
}

.post-like {
  margin-right: 1rem;
}

.like-icon {
  color: rgb(164, 0, 1);
}

.comment-icon {
  color: var(--mint);
}

.post-total {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.8rem 17.5rem 0 22.2rem;
  font-size: 1.5rem;
  color: var(--dark-gray);
}

.total-pages {
  display: flex;
}

.total-page {
  padding: 0 0.5rem;
  color: var(--mint);
  font-weight: bolder;
}
