.sort-select {
  width: 8rem;
}

.sort-select:hover .optionList {
  opacity: 1;
  visibility: visible;
}

.sort-select:hover .select-default span::after {
  content: "▲";
  float: right;
  animation: changeLetter 0.5s linear 1;
}

@keyframes changeLetter {
  0% {
    content: "▼";
  }
  49% {
    content: "▼";
    opacity: 0;
  }
  50% {
    content: "▲";
    opacity: 0.1;
  }
  100% {
    content: "▲";
    opacity: 1;
  }
}

.select-default {
  border-radius: 0.4rem;
  background-color: white;
  color: var(--mint);
  display: flex;
  justify-content: center;
}

.select-default span::after {
  content: "▼";
  float: right;
  padding-left: 0.5rem;
}

.optionList {
  width: 8.5rem;
  position: absolute;
  background-color: white;
  border-radius: 0.4rem;
  margin-top: 0.5rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s linear, visibility 1s linear;
  box-shadow: 0rem 0.4rem 1.5rem var(--box-shadow);
  list-style: none;
  text-align: center;
  color: var(--gray);
}

.optionListItem:hover {
  background-color: var(--list-hover);
  color: var(--mint);
}
