@import "common/reset.css";
@import "common/variables.css";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

html {
  font-size: 62.5%;
}
body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1.6rem;
  color: var(--black);
}
