.navbar {
  font-family: "Poppins", sans-serif;
  display: flex;
  width: 100%;
  height: 10rem;
  padding: 0 15rem;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100;
}

.navbar__column {
  width: 50%;
  font-weight: 400;
}

.navbar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}

.navbar__logo {
  max-width: 20rem;
}

.navbar__items:not(:last-child) {
  color: black;
  margin: 0 2.5rem;
  letter-spacing: -0.05rem;
}

.navbar__items:last-child {
  margin-left: 2.5rem;
}

.navbar__items:hover {
  color: var(--mint);
}

.avatar-img {
  border-radius: 70%;
  object-fit: cover;
}

.log-btn {
  color: white;
  font-size: 1.3rem;
  background-color: var(--black);
  padding: 0.7rem 1.3rem;
  border-radius: 2rem;
  white-space: nowrap;
}

.log-btn:hover {
  color: white;
  background-color: var(--mint);
}

.curr {
  font-weight: 600;
}


@media screen and (max-width: 430px) {
    .navbar {
        display: flex;
        width: 100%;
        height: 7rem;
        padding: 0 1.5rem;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: white;
        z-index: 100;
    }

    .navbar__logo {
        width: 65%;
    }

    .navbar__items:not(:last-child) {
        margin: 0 4px;
        font-size: 1.05rem;
    }

    .navbar__items:last-child {
        margin-left: 4px;
    }

    .avatar-img {
        width: 2rem;
        height: 2rem;
    }

    .log-btn {
        color: white;
        font-size: 1.05rem;
        background-color: var(--black);
        padding: 0.2rem 0.5rem;
        border-radius: 10px;
        white-space: nowrap;
    }
}
