.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pagination button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}
