{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    {% block link %} {% endblock %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
  </head>
  <body>
    {% if messages %}
            {% for message in messages%}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
    {% endif %}
<header>
  <nav>
        <a href="/">Logo</a>
        <a href="{% url 'brand:list' %}">Brand</a>
        <a href="{% url 'post:list' %}">Community</a>
        <a href="#">Fund</a>
        <a href="#">Mypage</a>
        <!-- <a href="#">Log in</a>
        <a href="#">Sign up</a> -->
      </nav>
      <!-- {% if user.is_authenticated %}
      <span>{{user.username}}님 접속 중</span>
      {% endif %}
      임시로 해놨음 -->
    </header>
    {% block content %} {% endblock %}
    <script
      src="https://kit.fontawesome.com/6a23cd815d.js"
      crossorigin="anonymous"
    ></script>
    {% block script %} {% endblock %}
  </body>
</html>