<div class="share-button sharer" style="display: block">
  <button class="share-btn"><i class="fas fa-share-alt"></i></button>
  <div class="social bottom center networks-5">
    <a
      class="fbtn share facebook"
      href="https://www.facebook.com/sharer/sharer.php?u=url"
      ><i class="fa fa-facebook"></i
    ></a>
    <a
      class="fbtn share twitter"
      href="https://twitter.com/intent/tweet?text=title&amp;url=url&amp;via=creativedevs"
      ><i class="fa fa-twitter"></i
    ></a>
    <button class="fbtn share url-btn" onclick="copyURL()">
      <i class="fas fa fa-link"></i>
    </button>
  </div>
</div>
