{% extends 'base.html' %} {% load static %}
{% block title %}{{author.username}}님의 작성 게시글 | SLOW:NIQUE{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/users/user-header.css' %}" />
<link rel="stylesheet" href="{% static 'css/post/author.css' %}" />
<link rel="stylesheet" href="{% static 'css/users/user-post.css' %}" />
<link rel="stylesheet" href="{% static 'css/users/user-footer.css' %}" />
{% endblock %}
{% block content %}
<main id="author-posts">
    <header class="mypage__header">
        <div class="user_bg">
            <div class="user_pr">
                <img 
                class="user-img"
                src="{{author.image.url}}"
                alt="게시글 작성자 프로필 이미지"
                >
                <div class="user_summary">
                    <div class="user_name">{{ author }}</div>
                    <div class="user_posts">
                        <div class="user_post">{{ author }}님의 게시물 {{ posts_cnt }}</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

  <div class="author-post__list">
    <div class="vl">
    </div>
    <div class="myposts">
      {% for post in page_obj %}
      <div class="mypost">
        <div class="mypost-created">
            <td>{{ post.created_at|date:'m월 d일' }}</td>
        </div>
        <div class="mypost-circle"></div>
        <a class="mypost-profile" href="{% url 'post:post_detail' post.id %}">
            <div class="mypost-content">
                <div class="mypost-title">{{post.title}}</div>
                <div class="mypost-preview">
                    {{post.content|striptags|cut:"&nbsp;"|truncatechars:50}}
                </div>
                <div class="mypost-res">
                    <div class="mypost-like"><i class="like-icon fa-heart far"></i> {{post.comment_set.count}}</div>
                    <div class="mypost-comment"><i class="comment-icon far fa-comment"></i> {{post.postlike_set.count}}</div>
                </div>
            </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="mypost-total">
    <div class="total-pages">
        <span>Total</span><div class="total-page">{{page_obj.paginator.num_pages}}</div><span>pages.</span>
    </div>
    <div>{{posts_cnt}} feeds</div>
</div>
<div class="pagination">
    {% if page_obj.has_previous %}
        <button onclick="pagination(this)" name="page" value="1">
            <i class="icon fa-solid fa-angles-left"></i>
        </button>
        <button
            onclick="pagination(this)"
            name="page"
            value="{{page_obj.previous_page_number}}"
        >
            <i class="fa-solid fa-angle-left"></i>
        </button>
    {% else %}
    <button class="freeze_btn"  name="page" value="1">
        <i class="icon fa-solid fa-angles-left"></i>
    </button>
    <button 
        class="freeze_btn"
        name="page"
        value=""
    >
        <i class="fa-solid fa-angle-left"></i>
    </button>        
    {% endif %}
    <div class="pagination-current" style="display: flex;">
        {% for page in page_obj.paginator.page_range %}
            {% if page >= page_obj.number|add:-3 and page <= page_obj.number|add:3 %}
            <span class="{% if page == page_obj.number %}current{% endif %}">
                <a class="page-num" href="?page={{ page }}">
                    <div class="page-circle"></div>
                    <div class="page-number" >{{page}}</div>
                </a>
            </span>
            {% endif %}
        {% endfor %}
    </div>

    {% if page_obj.has_next %}
        <button
            onclick="pagination(this)"
            name="page"
            value="{{page_obj.next_page_number}}"
        >
        <i class="fa-solid fa-angle-right"></i>
        </button>
        <button
            onclick="pagination(this)"
            name="page"
            value="{{page_obj.paginator.num_pages}}"
        >
        <i class="fas fa-solid fa-angles-right"></i>
        </button>
    {% else %}
        <button 
            class="freeze_btn"
            name="page"
        >
            <i class="fa-solid fa-angle-right"></i>
        </button>
        <button 
            class="freeze_btn"
            name="page"
        >
            <i class="fas fa-solid fa-angles-right"></i>
        </button>
    {% endif %}
</div>

  <!-- <div class="pagination">
    {% if page_obj.has_previous %}
    <a href="{% url 'post:author' %}?id={{author.username}}&page=1">First</a>
    <a
      href="{% url 'post:author' %}?id={{author.username}}&page={{page_obj.previous_page_number}}"
      >Previous</a
    >
    {% endif %}

    <span>{{page_obj.number}} / {{page_obj.paginator.num_pages}}</span>

    {% if page_obj.has_next %}
    <a
      href="{% url 'post:author' %}?id={{author.username}}&page={{page_obj.next_page_number}}"
      >Next</a
    >
    <a
      href="{% url 'post:author' %}?id={{author.username}}&page={{page_obj.paginator.num_pages}}"
      >Last</a
    >
    {% endif %}
  </div> -->
</main>
{% endblock %}
