{% extends 'base.html' %} {% load static %}
{% block title %}전체 게시물 | SLOW:NIQUE{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/post/list.css' %}" />
<link rel="stylesheet" href="{% static 'css/post/header.css' %}" />
<link rel="stylesheet" href="{% static 'css/post/select.css' %}" />
<link rel="stylesheet" href="{% static 'css/post/body.css' %}" />
<link rel="stylesheet" href="{% static 'css/post/pagination.css' %}" />
{% endblock %}
{% block content %}
<main id="poster">
    {% if request.GET.keyword %}
    <!-- 검색어 포함된 URL로 접속 시 -->
        <p class="post-search-title">
            {% if not posts %} 
                검색 결과가 없습니다. 
            {% else %}
                <span class="post-search-title__keyword"> {{request.GET.keyword}} </span> 에
                대한 <span class="post-search-title__cnt"> {{posts.count}} </span> 개의
                게시물 검색 결과입니다. 
            {% endif %}
        </p>
    {% endif %}
    <div class="post-header">
        <div class="sort-header">
            <div class="keyword-container">
                <input
                class="input-keyword"
                type="text"
                name="keyword"
                placeholder="게시물을 검색하세요"
                value="{{keyword}}"
                autocomplete="off"
                />
                <button type="submit" value="검색" onclick="PostSearch(this)"><i class="fas fa-search"></i></button>
            </div>
            <div class="sort-select">
                <div class="select-default">
                    <span>정렬</span>
                </div>
                <div class="optionList" >
                    <li class="optionListItem" id="latest" value="latest" onclick="SortChange(this)">최신 순</li>
                    <li class="optionListItem" id="like" value="like" onclick="SortChange(this)">인기 순</li>
                    <li class="optionListItem" id="past" value="past" onclick="SortChange(this)">과거 순</li>
                </div>
            </div> 
        </div>
        <div class="post-create">
            {% if user.is_authenticated %}
            <a class="post-create__btn" href="{% url 'post:post_create' %}"
                ><img src="/static/images/add_btn.png" alt=""><span>게시물 작성</span></a
            >
            {% else %}
            <button class="post-create__btn" type="button" onclick="onClickLogin('{{request.path}}')">
                <img src="/static/images/add_btn.png" alt=""><span>게시물 작성</span>
            </button>
            {% endif %}
        </div>  
    </div>
    <div class="post-list">
        <div class="vl">
        </div>
        <div class="posts">
            {% for post in page_obj %}
            <div class="post">
                <div class="post-created">
                    {% if post.created_string == False %}
                    <td>{{ post.created_at|date:'m월 d일' }}</td>
                    {% else %}
                    <td class="post_created_time">{{ post.created_string }}</td>
                    {% endif %}
                </div>
                <div class="post-circle"></div>
                <a class="post-profile" href="{% url 'post:post_detail' post.id %}">
                    <div class="post-write">
                        <div class="post-author" >
                            <img class="avatar-img"
                            src="{{post.user.image.url}}"
                            alt="작성자 프로필 이미지"
                            width="20rem"
                            height="20rem"
                            />
                        </div>
                        <span class="username">{{post.user}}</span>
                    </div>
                    <div class="post-content">
                        <div class="post-title">{{post.title}}</div>
                        <div class="post-preview">
                            {{post.content|striptags|cut:"&nbsp;"|truncatechars:50}}
                        </div>
                        <div class="post-res">
                            <div class="post-like"><i class="like-icon fa-heart far"></i> {{post.postlike_set.count}}</div>
                            <div class="post-comment"><i class="comment-icon far fa-comment"></i> {{post.comment_set.count}}</div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="post-total">
        <div class="total-pages">
            <span>Total</span><div class="total-page">{{page_obj.paginator.num_pages}}</div><span>pages.</span>
        </div>
        <div>{{post_cnt}} feeds</div>
    </div>
    <div class="pagination">
        {% if page_obj.has_previous %}
            <button onclick="pagination(this)" name="page" value="1">
                <i class="icon fa-solid fa-angles-left"></i>
            </button>
            <button
                onclick="pagination(this)"
                name="page"
                value="{{page_obj.previous_page_number}}"
            >
                <i class="fa-solid fa-angle-left"></i>
            </button>
        {% else %}
        <button class="freeze_btn"  name="page" value="1">
            <i class="icon fa-solid fa-angles-left"></i>
        </button>
        <button 
            class="freeze_btn"
            name="page"
            value=""
        >
            <i class="fa-solid fa-angle-left"></i>
        </button>        
        {% endif %}
        <div class="pagination-current" style="display: flex;">
            {% for page in page_obj.paginator.page_range %}
                {% if page >= page_obj.number|add:-3 and page <= page_obj.number|add:3 %}
                <span class="{% if page == page_obj.number %}current{% endif %}">
                    <a class="page-num" href="?page={{ page }}">
                        <div class="page-circle"></div>
                        <div class="page-number" >{{page}}</div>
                    </a>
                </span>
                {% endif %}
            {% endfor %}
        </div>
    
        {% if page_obj.has_next %}
            <button
                onclick="pagination(this)"
                name="page"
                value="{{page_obj.next_page_number}}"
            >
            <i class="fa-solid fa-angle-right"></i>
            </button>
            <button
                onclick="pagination(this)"
                name="page"
                value="{{page_obj.paginator.num_pages}}"
            >
            <i class="fas fa-solid fa-angles-right"></i>
            </button>
        {% else %}
            <button 
                class="freeze_btn"
                name="page"
            >
                <i class="fa-solid fa-angle-right"></i>
            </button>
            <button 
                class="freeze_btn"
                name="page"
            >
                <i class="fas fa-solid fa-angles-right"></i>
            </button>
        {% endif %}
    </div>
</main>
{% endblock %} {% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/post/like.js' %}"></script>
<script src="{% static 'js/post/sort.js' %}"></script>
<script src="{% static 'js/post/created.js' %}"></script>
{% endblock %}
<!-- type = "submit" value = "검색"-->
