{% extends 'base.html' %} {% load static %}

{% block content %}


<main class="post-detail">
    <div 
    class="post"
        data-id="{{post.id}}"
        {% if is_liked %}
        data-liked="true"
        {% else %}
        data-liked="false"
        {% endif %}
    >
        <div class="post-detail__user">
            <p>글쓴이: <a href="/post/author?id={{post.user.username}}">{{ post.user.username }}</a></p> <!-- 나중에 nickname으로 보여주기 -->
            <!-- <p>글쓴이 소개</p> -->
            <!-- <a href="">링크</a> -->
        </div>
        <div class="post-detail__content">
            <h3>제목: {{ post.title }}</h3>
            {% if post.image %}
            <img class="post-detail__img" src="{{ post.image.url }}" height="220" width="160">
            {% endif %}
            <p class="post-detail__item">
                내용: {{ post.content }}
            </p>
        </div>
        <div class="post-detail__btns">
            {% if request.user == post.user %}
            <a href="{% url 'post:post_delete' pk=post.pk %}">삭제</a>
            <a href="{% url 'post:post_update' pk=post.pk %}">수정</a>
            {% endif %}
            <a href="{% url 'post:list' %}">목록</a>          
        </div>
        <div class="post-like">
            <div class="post-like__container">
                <button
                    class="post-like__btn"
                    title="좋아요"
                    {% if user.is_authenticated %}
                    onclick="onClickLike({{user.id}}, {{post.id}})"
                    {% else %}
                    onclick="onClickAlert()"
                    {% endif %}>
                    <i class="fab fa-gratipay"></i>
                </button>
                <p class="post-like__info">
                    <span class="post-like__cnt">{{ like_cnt }}</span>
                </p>
            </div>
        </div>
        <div class="post-comment">
            <p class="post-comment__info">
                <span>댓글</span>
                <span class="post-comment__cnt">{{ comments_cnt }}</span>
            </p>
            <ul class="post-comment__{{post.id}}">
                {% for comment in comments %}
                    {% if comment.post == post %}
                    <li class="comment__{{comment.id}}">
                        <div class="comment__main">
                            <span>{{ comment.user }}</span>
                            <span class="comment__message">{{ comment.message }}</span>
                            {% if request.user == comment.user %}
                            <button class="comment__edit-btn" onclick="onClickEdit({{comment.id}})">수정</button>
                            <button class="comment__del-btn" onclick="onClickDel({{comment.id}})">삭제</button>
                            {% endif %}
                        </div>
                        <div class="comment__edit" style="display: none;">
                            <input class="comment__edit-input" type="text" value="{{comment.message}}" onKeypress="javascript:if(event.keyCode==13) {onClickUpdate({{post.id}},{{comment.id}})}">
                            <button class="comment__update-btn" onclick="onClickUpdate({{post.id}},{{comment.id}})">수정</button>
                        </div>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="post-comment__input">
                <input class="comment-input__{{post.id}}" type="text" placeholder="댓글을 입력하세요" onKeypress="javascript:if(event.keyCode==13) {onClickComment({{post.id}}, {{user.id}})}">
                
                <button
                class="comment__add-btn"
                type="button"
                {% if user.is_authenticated %}
                onclick="onClickComment({{post.id}}, {{user.id}})"
                {% else %}
                onclick="onClickAlert()"
                {% endif %}>추가</button>
            </div>
        </div>
        
        
    </div>
</main>


{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="{% static 'js/post/like.js' %}"></script>
<script src="{% static 'js/post/comment.js' %}"></script>
{% endblock %}
