{% extends 'base.html' %} {% load static %}
{% block title %}{{post.title}} | SLOW:NIQUE{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/post/detail.css' %}" />
{% endblock %}
{% block content %}
<main class="post-detail">
  <div
    class="post"
    data-id="{{post.id}}"
    {% if is_liked %}
    data-liked="true"
    {% else %}
    data-liked="false"
    {% endif %}
  >
    <div class="post-detail__user d-flex">
      {% if post.user.image %}
      <!-- 나중에 if문 지워도 됨 -->
      <img
        class="avatar-img"
        src="{{post.user.image.url}}"
        alt="게시글 작성자 프로필 이미지"
        width="30rem"
        height="30rem"
      />
      {% endif %}
      <a class="post-detail__username" href="{% url 'post:author' %}?id={{post.user.username}}"
        >{{ post.user }}</a
      >
    </div>
    <div class="post-detail__content">
      <h1 class="post-detail__title">{{ post.title }}</h1>
      <div style="width: 75rem">
        {{ post.content | safe}}
      </div>
    </div>
    <div class="post-reaction">
        <div class="post-like">
            <div class="post-like__container">
                <button
                    class="post-like__btn"
                    title="좋아요"
                    {% if user.is_authenticated %}
                    onclick="onClickLike({{user.id}}, {{post.id}})"
                    {% else %}
                    onclick="onClickAlert()"
                    {% endif %}
                >
                    <i class="fab fa-gratipay fa-lg"></i>
                </button>
                <p class="post-like__info">
                    <span class="post-like__cnt">{{ like_cnt }}</span>
                </p>
            </div>
        </div>
        <div class="post-share">
            <button class="post-share__btn" onclick="CopyUrlToClipboard()">
            <i class="fa fa-share fa-lg"></i>
            </button>
        </div>
    </div>
    <div class="post-detail__btns">
      <div class="btns__user">
        <a class="post-btn__to-list" href="{% url 'post:list' %}">목록</a>
      </div>
      {% if request.user == post.user %}
      <div class="btns__writer">
        <button class="post-btn__del" onclick="deletePost('{% url 'post:post_delete' pk=post.pk %}')">삭제</button>
        <a class="post-btn__update" href="{% url 'post:post_update' pk=post.pk %}">수정</a>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="post-comment">
    <p class="post-comment__info">
      <span>댓글</span>
      <span class="post-comment__cnt">{{ comments_cnt }}</span>
    </p>
    <ul class="post-comment__ul post-comment__{{post.id}}">
      {% for comment in comments %} {% if comment.post == post %}
      <li class="comment__{{comment.id}}">
        <div class="comment__main">
          {% if comment.user.image %}
          <!-- 나중에 if문 지워도 됨 -->
          <img
            class="avatar-img"
            src="{{comment.user.image.url}}"
            alt="댓글 작성자 프로필 이미지"
            width="30rem"
            height="30rem"
          />
          {% endif %}
          <a href="{% url 'post:author' %}?id={{comment.user.username}}">
              <span class="comment__user">{{ comment.user }}</span>
          </a>
          <p class="comment__message">{{ comment.message }}</p>
          {% if request.user == comment.user %}
          <!-- <label 
            class="comment__menu"
            for="toggle"
          >
            <i class="fa fa-ellipsis-vertical"></i>
          </label> -->
          <!-- <input type="checkbox" id="toggle"> -->
          
            <button
                class="comment__edit-btn"
                onclick="onClickEdit({{comment.id}})"
            >
                수정
            </button>
            <span class="button-division">|</span>
            <button
                class="comment__del-btn"
                onclick="onClickDel({{comment.id}})"
            >
                삭제
            </button>
          
          {% endif %}
        </div>
        <div class="comment__edit" style="display: none">
          <input
            class="comment__edit-input"
            type="text"
            value="{{comment.message}}"
            onKeypress="javascript:if(event.keyCode==13) {onClickUpdate({{post.id}},{{comment.id}})}"
          />
          <button
            class="comment__update-btn"
            onclick="onClickUpdate({{post.id}},{{comment.id}})"
          >
            수정
          </button>
        </div>
      </li>
      {% endif %} {% endfor %}
    </ul>
    <div class="post-comment__input">
      <input
        class="comment-input comment-input__{{post.id}}"
        type="text"
        placeholder="댓글을 입력하세요"
        onKeypress="javascript:if(event.keyCode==13) {onClickComment({{post.id}}, {{user.id}})}"
      />

      <button
        class="comment__add-btn"
        type="button"
        {% if user.is_authenticated %}
        onclick="onClickComment({{post.id}}, {{user.id}})"
        {% else %}
        onclick="onClickAlert()"
        {% endif %}
      >
        추가
      </button>
    </div>
  </div>
</main>
{% endblock %} {% block script %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="{% static 'js/post/confirm.js' %}"></script>
<script src="{% static 'js/post/like.js' %}"></script>
<script src="{% static 'js/post/comment.js' %}"></script>
<script src="{% static 'js/post/share.js' %}"></script>
{% endblock %}
