{% extends 'base.html' %} {% load static %}

{% load widget_tweaks %}

{% block content %}
<form method="post" class="post-form" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="id_title">제목:</label>
    {{ form.title|add_class:'post-form__title' }}
    <label for="id_category">카테고리:</label>
    {{ form.category|add_class:'post-form__category' }}
    <label for="id_content">내용:</label>
    {{ form.content|add_class:'post-form__content' }}
    <label for="id_image">이미지:</label>
    {{ form.image|add_class:'post-form__image' }}
    <button type="submit">저장</button>
</form>

{% endblock %}