{% extends 'base.html' %} {% load static %} {% load widget_tweaks %}
{% block title %}게시글 {{ function }} | SLOW:NIQUE{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/post/form.css' %}" />
<script defer src="{% static 'js/post/editor.js' %}"></script>
{% endblock %} {% block content %}
<main id="post-form">
  <form
    method="post"
    class="post-form__form d-flex flex-column align-items-center"
    enctype="multipart/form-data"
  >
    {% csrf_token %} {{ form.media }}
    {{ form.title|add_class:'post-form__title'|attr:'placeholder:제목을 입력하세요'}}
    {{ form.content|add_class:'post-form__content'}}
    <button class="post-form__btn">{{ function }}</button>
  </form>
</main>
{% endblock %}