{% extends 'base.html' %} {% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
{% endblock %}
{% block meta %}
<meta name="description" content="업사이클링으로 가는 첫걸음" />
<meta property="og:type" , content="website" />
<meta property="og:title" , content="SLOW:NIQUE" />
<meta property="og:description" , content="업사이클링으로 가는 첫걸음" />
<meta property="og:url" , content="{{request.build_absolute_uri}}" />
<!-- <meta property="og:image" , content="로고" /> -->
<meta name="twitter:title" , content="SLOW:NIQUE" />
<meta name="twitter:description" , content="업사이클링으로 가는 첫걸음" />
<meta name="twitter:card" , content="summary" />
<meta name="twitter:url" , content="{{request.build_absolute_uri}}" />
<!-- <meta name="twitter:image" , content="로고" /> -->
{% endblock %} 
{% block content %}
<main class="main">
    <header class="main-header">
        <img src="/static/images/wood2.jpg" width="100%" height="320rem"/>
        <div class="main-header__txt">
            <h3 class="main-header__title">FIRST STEP</h3>
            <h3 class="main-header__title">IN <strong>UPCYCLING</strong></h3>
            <p class="main-header__desc">느려서 더욱 특별한 업사이클링, 슬로니크에서 시작하세요.</p>
            <a class="main-header__more main-header__a" href="#">Learn more</a>
            <a class="main-header__btn main-header__a" href="{% url 'brand:list' %}">More Brands</a>
        </div>
    </header>
    <div class="main-brand">
        <h3 class="main-brand__title">TODAY's UPCYCLING BRANDS</h3>
        <div class="main-brand__wrapper">
            <div class="gi1 main-brand__img">
                <img src="/static/images/119reo.jpeg" alt="119레오" width="100%" height="200">
            </div>
            <div class="gi2 main-brand__info">
                <span class="info__name"><strong>119 reo</strong></span>
                <p class="info__desc">119REO의 이름은 우리의 슬로건인 Rescue Each Other의 앞 글자를 따서 만들어 졌으며 ‘서로가 서로를 구한다’는 의미를 담고 있습니다.<br><br>
                    119REO는 화재,재난상황 등 위험에 처하면 소방관이 우리를 구해주듯이,우리도 함께 소방관을 구하는 세상을 만들고자 합니다.</p>
                <div class="underline underline-right"></div>
            </div>
            <div class="gi3 main-brand__info">
                <span class="info__name"><strong>Milky Project</strong></span>
                <p class="info__desc">밀키프로젝트는, 쓰임이 다한 물건에서 숨은 가치를 찾아내고, 디자인과 아이디어를 더해서, 새롭게 가치 있는 물건 및 콘텐츠로 개발하여, 그것을 사람들과 공유하고 공감을 넓혀가는 활동을 하고 있습니다.<br>
                    특히, 우유팩이 가지는 다양한 특징과 매력에 주목하고 그것을 활용하여 새로운 형태의 업사이클링 패션잡화를 개발하고 있으며, 다양한 형태의 문화콘텐츠 및 교육프로그램 개발에도 힘을 쏟고 있습니다.</p>
                <div class="underline"></div>
            </div>
            <div class="gi4 main-brand__img">
                <img src="/static/images/milkyproject2.jpeg" alt="밀키프로젝트" width="100%" height="200">
            </div>
            <div class="gi5 main-brand__img">
                <img src="/static/images/Nukak.jpeg" alt="누깍" width="100%" height="200">
            </div>
            <div class="gi6 main-brand__info">
                <span class="info__name"><strong>Nukak</strong></span>
                <p class="info__desc">누깍(Nukak)은 2016년 바르셀로나에서 사용되지 않는 소재를 다시 사용하면서 시작됐습니다.<br><br>
                     누깍은 지구상 마지막 남은 유목부족 Nukak Maku에서 영감을 얻었고, 그들처럼 도전하는 삶을 추구하는 브랜드입니다. 자유롭고 지속가능한 라이프스타일을 위해 끊임없이 새로운 소재와 제품을 연구합니다.
                </p>
                <div class="underline underline-right"></div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
