{% extends 'base.html' %} {% load static %}
{% block title %}찜한 브랜드 | SLOW:NIQUE{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/users/mybrand.css' %}" />
<link rel="stylesheet" href="{% static 'css/users/user-header.css' %}" />
{% endblock %}
{% block content %}
<main class="my-brand">
    <header class="mypage__header">
        <div class="user_bg">
            <div class="user_pr">
                <img 
                class="user-img"
                src="{{user.image.url}}"
                alt="게시글 작성자 프로필 이미지"
                >
                <div class="user_summary">
                    <div class="user_name"><a id="user_name" href="{% url 'users:mypage' %}">{{user}}</div></a>
                    <div class="user_brand">
                        <div class="like_brand">찜한 브랜드 {{ brand_like_cnt }}</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="my-brand__header">
        <h1 class="my-brand__title">찜한 브랜드</h1>
    </div>
  <div class="my-brand__main">
      {% for BrandLike in BrandLikes %}
      <div class="my-brand__brand">
        <button class="my-brand__btn"
        onclick="deleteBrandLike('{% url 'users:mypage_brand_delete' BrandLike.id %}')"
        >
            <i class="fa-solid fa-minus fa-lg"></i>
        </button>
        <a class="my-brand__link" href="{% url 'brand:detail' BrandLike.brand.id %}">
            <img
                class="my-brand__img"
                src="{{ BrandLike.brand.image.url }}"
                alt="브랜드 이미지"
            />
            <div class="my-brand__content">
                <div class="my-brand__info">
                    <span class="brand__category">{{BrandLike.brand.category}}</span>
                    <div class="brand__likes">
                        <i class="far fa-heart"></i>
                        {{BrandLike.brand.brandlike_set.all.count}}
                    </div>
                </div>
                <div class="my-brand__name">
                    <span>{{BrandLike.brand}}</span>
                </div>
            </div>
        </a>
      </div>
      {% endfor %}
  </div>
</main>
{% endblock %} {% block script %}
<script src="{% static 'js/users/confirm.js' %}"></script>
{% endblock %}
