{% extends 'base.html' %} {% load static %}
{% block title %}내가 쓴 댓글 | SLOW:NIQUE{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/users/mycomment.css' %}" />
<link rel="stylesheet" href="{% static 'css/users/user-header.css' %}" />
{% endblock %}
{% block content %}
<main class="my-comment">
    <header class="mypage__header">
        <div class="user_bg">
            <div class="user_pr">
                <img 
                class="user-img"
                src="{{user.image.url}}"
                alt="게시글 작성자 프로필 이미지"
                >
                <div class="user_summary">
                    <div class="user_name"><a id="user_name" href="{% url 'users:mypage' %}">{{user}}</div></a>
                    <div class="user_comments">
                        <div class="user_comment">내가 쓴 댓글 {{ comments_cnt }}</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="my-comment__header">
        <h1 class="my-comment__title">내가 쓴 댓글</h1>
    </div>
    <div class="my-comment__main">
        {% for Comment in Comments %}
        <div class="my-comment__comment">
            <div class="my-comment__to-post">
                <a class="my-comment__link" href="{% url 'post:post_detail' Comment.post.id %}">
                    <span>{{Comment.message}}</span>
                    <span>{{Comment.post.title}}</span>
                </a>
            </div>
            <button
            class="my-comment__btn"
            onclick="deleteComment('{% url 'users:mypage_comment_delete' Comment.id %}')"
            >
                <i class="fa-solid fa-trash-can fa-lg"></i>
            </button>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %} {% block script %}
<script src="{% static 'js/users/confirm.js' %}"></script>
{% endblock %}
