{% extends 'base.html' %} {% load static %} 
{% block title %}내가 쓴 게시물 | SLOW:NIQUE{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/users/user-header.css' %}" />
<link rel="stylesheet" href="{% static 'css/users/user-nav.css' %}" />
<link rel="stylesheet" href="{% static 'css/users/user-post.css' %}" />
<link rel="stylesheet" href="{% static 'css/users/user-footer.css' %}" />

{% endblock %}

{% block content %}
<main>
  {% include "users/user-post-header.html" %}
  {% include "users/user-post-search.html" %}
  <div class="mypost-list">
    <div class="vl">
    </div>
    <div class="myposts">
      {% for MyPost in page_obj %}
      <div class="mypost">
          <div class="mypost-created">
              <td>{{ MyPost.created_at|date:'m월 d일' }}</td>
          </div>
          <div class="mypost-circle"></div>
          <a class="mypost-profile" href="{% url 'post:post_detail' MyPost.id %}">
              <div class="mypost-content">
                  <div class="mypost-title">{{MyPost.title}}</div>
                  <div class="mypost-preview">
                      {{MyPost.content|striptags|cut:"&nbsp;"|truncatechars:50}}
                  </div>
                  <div class="mypost-res">
                      <div class="mypost-like"><i class="like-icon fa-heart far"></i> {{MyPost.postlike_set.count}}</div>
                      <div class="mypost-comment"><i class="comment-icon far fa-comment"></i> {{MyPost.comment_set.count}}</div>
                  </div>
              </div>
          </a>
          <div class="mypost-up-del">
            <a class="mypost-update" href="{% url 'post:post_update' MyPost.id %}"
              ><i class="fa-solid fa-eraser"></i
              >
            </a>
            <button 
              class="mypost-delete"
              onclick="deletePost('{% url 'users:mypage_post_delete' MyPost.id %}')"
            >
            <i class="fa-solid fa-trash-can"></i>
            <!-- 찜하기 취소 라는 말이 뭔가 어색해서 아이콘으로 넣었는데 그냥 텍스트로 하셔도 됩니다 -->
            </button>            
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% include "users/user-post-footer.html" %}
</main>
{% endblock %} {% block script %}
<script src="{% static 'js/users/confirm.js' %}"></script>
<script src="{% static 'js/users/write-sort.js' %}"></script>
{% endblock %}

