{% extends 'base.html' %} {% load static %}
{% block title %}마이페이지 | SLOW:NIQUE{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/users/mypage.css' %}" />
{% endblock %}
{% block content %}
<main class="mypage">
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} text-center">{{ message }}</div>
  {% endfor %}
  <div class="mypage__title">
    <p>마이페이지</p>
    <i class="fa-regular fa-bell"></i>
  </div>
  {% if user == user %}
  <!-- 왜 있는 거징? -지현 -->
  <div class="mypage__user-info">
    <div class="user-info__left"></div>
    <div class="user-info__right">
        <a href="{% url 'users:update' %}"><i class="far fa-gear"></i></a>
    </div>
    
  </div>
  {% endif %}
  <h1><a href="{% url 'users:my_brand' %}">브랜드 찜</a></h1>
  <h1><a href="{% url 'users:my_scrap' %}">포스트 스크랩</a></h1>
  <h1><a href="{% url 'users:my_post' %}">작성한 글 목록</a></h1>
  <h1><a href="{% url 'users:my_comment' %}">내가 쓴 댓글</a></h1>
</main>
{% endblock %}
