{% extends 'base.html' %} {% load static %} {% block title %}비밀번호 변경 |
SLOW:NIQUE{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'css/users/change_password.css' %}" />
{% endblock %} {% block content %}
<main id="change-password">
  <h3 class="change-password__title">비밀번호 변경</h3>
  <form class="change-password__form form-long" method="POST">
    {% csrf_token %}
    <p class="change-password__label">기존 비밀번호</p>
    {{ form.old_password }} {{ form.old_password.errors}}
    <p class="change-password__label">새 비밀번호</p>
    {{ form.new_password1 }}
    <p class="change-password__label">새 비밀번호 확인</p>
    {{ form.new_password2 }} {{ form.new_password2.errors}}
    <button>제출</button>
  </form>
</main>
{% endblock %}
