{% extends 'base.html' %} {% load static %}
{%block title %}개인정보 수정 | SLOW:NIQUE{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/users/update.css' %}" />
{% endblock %}
{% block bootstrap %}
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>
{% endblock %} {% load bootstrap4 %} {% block content %}
<main id="user-update">
  <h1 class="user-update__title">개인정보 수정</h1>
  <div class="user-update__id"><span>아이디</span> <span>{{request.user.username}}</span></div>
  <div class="user-update__password">
    <a href="{% url 'users:password' %}">비밀번호 변경</a>
  </div>
  <!-- <img
    class="avatar-img user-info__img"
    src="{{user.image.url}}"
    alt="게시글 작성자 프로필 이미지"
    width="120rem"
    height="120rem"
    alt=""
  /> -->
  <form class="user-update__form" method="POST" enctype="multipart/form-data">
    {% csrf_token %} {% bootstrap_form user_change_form %}
    <div class="user-update__btns">
        <button type="submit">수정</button>
        <a href="{% url 'users:delete' %}" class="user-upadate__delete">회원탈퇴</a>
    </div>
  </form>

  
</main>
{% endblock %}