<div class="nav-header">
    <div class="nav-post">
        <div class="write-nav"><a id="write-nav" href="{% url 'users:my_post' %}">작성글</div></a>
        <div class="like-post"><a id="like-post" href="{% url 'users:my_scrap' %}">좋아요 한 글</div></a>
    </div>
    <div class="nav-sort">
        <div class="keyword-container">
            <input
            class="input-keyword"
            type="text"
            name="keyword"
            placeholder="게시물을 검색하세요"
            value="{{keyword}}"
            autocomplete="off"
            />
            <button type="submit" value="검색" onclick="PostSearch(this)"><i class="fas fa-search"></i></button>
        </div>
        <div class="sort-select">
            <div class="select-default">
                <span>정렬</span>
            </div>
            <div class="optionList" >
                <li class="optionListItem" id="latest" value="latest" onclick="SortChange(this)">최신 순</li>
                <li class="optionListItem" id="like" value="like" onclick="SortChange(this)">인기 순</li>
                <li class="optionListItem" id="past" value="past" onclick="SortChange(this)">과거 순</li>
            </div>
        </div> 
    </div>
</div>