/* COMMON BRAND LIST & SEARCH PAGE ELEMENTS */
#brand-list,
#brand-search {
  position: relative;
}

/* Navbar */
.brand-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 10rem; /* depends on height of the main navbar */
  padding: 2rem 15rem;
  background: white;
}
.brand-navbar ul {
  display: flex;
}
.brand-navbar .focus {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  margin-bottom: 0.4rem;
  background: var(--mint);
}
.brand-navbar li.active {
  font-weight: 700;
}
.brand-navbar a {
  padding: 0 1.5rem 1rem 1.5rem;
  font-size: 1.7rem;
  color: inherit;
}
.brand-navbar a:first-child {
  padding-left: 0;
}
.brand-navbar a:hover {
  color: var(--mint);
}

@media screen and (max-width: 430px) {
  .brand-navbar {
    justify-content: center;
    position: static;
    padding: 0;
  }
  .brand-navbar ul {
    width: 100%;
    justify-content: center;
    gap: 0.5rem;
    padding: 2rem 1.5rem 0.5rem 1.5rem;
    position: fixed;
    z-index: 1;
    top: 7rem;
    background: white;
  }
  .brand-navbar a {
    font-size: 1.6rem;
  }
  .brand-navbar a:first-child {
    padding-left: 1.5rem;
  }
}

/* Layout & search bar */
.brand-layout {
  padding: 8.55rem 15rem 0 15rem; /* depends on height of the brand navbar, horizontal padding of the main navbar */
}
.search-form {
  gap: 0.5rem;
}
.search-form input {
  font-size: 1.5rem;
  width: 20rem;
  outline: none;
  border: none;
  border-bottom: 0.2rem solid var(--black);
  -webkit-border-radius: 0;
  padding: 0.3rem 1rem;
}
.search-form input::placeholder {
  color: var(--gray);
}

@media screen and (max-width: 430px) {
  .brand-layout {
    padding: 5rem 2rem 2rem 2rem;
  }
  .search-form-container {
    padding-top: 9rem;
  }
  .search-form input {
    width: 23rem;
  }
}

/* Section */
.brands {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  margin-bottom: 10rem;
}
@media screen and (min-width: 1920px) {
  .brands {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.brand {
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  box-shadow: 1rem 1rem 2rem 0.1rem #e0e0e0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.brand:hover {
  transform: scale(1.03);
}
.brand a {
  color: inherit;
}

.brand__content {
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}
.brand__img {
  position: relative;
  width: 100%;
  padding-top: calc(100% * 2 / 3);
}
.brand__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.brand__category,
.brand__likes {
  font-size: 1.3rem;
  color: var(--gray);
}
.brand__name {
  font-size: 2.3rem;
  font-weight: 700;
  margin: 1rem 0;
}
.brand__desc {
  font-size: 1.4rem;
}

@media screen and (max-width: 430px) {
  .brands {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 5rem;
  }

  .brand {
    box-shadow: 0.2rem 0.2rem 1rem 0.2rem #e0e0e0;
    margin-bottom: 1.5rem;
  }
  .brand__sub-header,
  .brand__desc {
    padding: 0 1rem;
  }
  .brand__sub-header {
    font-weight: 500;
  }
  .brand__name {
    font-size: 2rem;
  }
  .brand__content {
    padding: 0.5rem 0 1rem 0;
  }
}
/* END COMMON ELEMENTS */

/* BRAND LIST */
/* Header */
.brand-list__header {
  margin: 3rem 0 5rem 0;
}
.brand-list__category {
  text-align: center;
  font-weight: 900;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

/* Sort */
.brand-list__count {
  font-size: 1.5rem;
}
.brand-list__sort {
  font-size: 1.4rem;
  gap: 0.5rem;
}

.sort-btn__bg {
  display: flex;
  align-items: center;
  width: 5rem;
  height: 2.5rem;
  padding: 0 0.5rem;
  border-radius: 2rem;
  background: var(--gray);
  transition: all 0.3s ease-in-out;
}
.sort-btn__indicator {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: white;
  filter: drop-shadow(0.2rem 0.4rem 0.6rem rgba(0, 0, 0, 0.2));
  transition: all 0.3s ease-in-out;
}
.sort-btn:hover .sort-btn__bg {
  background: var(--mint);
}
.sort-btn:hover .sort-btn__indicator {
  transform: translateX(2.5rem);
  filter: drop-shadow(-0.2rem 0.4rem 0.6rem rgba(0, 0, 0, 0.2));
}

.sort-btn.active .sort-btn__bg {
  justify-content: flex-end;
  background: var(--mint);
}
.sort-btn.active .sort-btn__indicator {
  filter: drop-shadow(-0.2rem 0.4rem 0.6rem rgba(0, 0, 0, 0.2));
}
.sort-btn.active:hover .sort-btn__indicator {
  transform: translateX(-2.5rem);
  filter: drop-shadow(0.2rem 0.4rem 0.6rem rgba(0, 0, 0, 0.2));
}

@media screen and (max-width: 430px) {
  .brand-list__header {
    margin: 0 0 3rem 0;
  }
  .brand-list__category {
    margin-bottom: 2rem;
  }
  .brand-list__count {
    font-size: 1.4rem;
  }
  .brand-list__sort {
    font-size: 1.2rem;
  }

  .sort-btn__bg {
    width: 4.3rem;
    height: 2.1rem;
    padding: 0 0.45rem;
  }
  .sort-btn__indicator {
    width: 1.2rem;
    height: 1.2rem;
  }
}
/* END BRAND LIST */

/* BRAND SEARCH */
.brand-search__header {
  font-size: 2rem;
  background: rgb(248, 248, 248);
  padding: 3.5rem 0;
  margin: 3rem 0 5rem 0;
}
.brand-search__count {
  color: var(--mint);
}

@media screen and (max-width: 430px) {
  #brand-search .brand-layout {
    padding-top: 3.5rem;
  }
  .brand-search__header {
    font-size: 1.7rem;
    padding: 2.5rem 0;
    margin: 0rem 0 3rem 0;
  }
}
/* END BRAND SEARCH */
