/* COMMON BRAND LIST & SEARCH PAGE ELEMENTS */
#brand-list,
#brand-search {
  position: relative;
}

/* Navbar */
.brand-navbar {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 10rem; /* depends on height of the main navbar */
  padding: 2rem 15rem;
  background: white;
  gap: 0.5rem;
}
.brand-navbar .focus {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: var(--mint);
}
.brand-navbar li.active {
  font-weight: 700;
}
.brand-navbar a {
  padding: 0.4rem 1.5rem 1rem 1.5rem;
  font-size: 1.7rem;
  color: inherit;
}
.brand-navbar a:hover {
  color: var(--mint);
}

/* Layout & search bar */
.brand-layout {
  padding: 8.55rem 15rem 0 16rem; /* depends on height of the brand navbar, horizontal padding of the main navbar */
}
.search-form {
  gap: 0.5rem;
}
.search-form input {
  font-size: 1.5rem;
  width: 20rem;
  outline: none;
  border: none;
  border-bottom: 0.2rem solid var(--black);
  padding: 0.3rem 1rem;
}
.search-form input::placeholder {
  color: var(--gray);
}

/* Section */
.brands {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  margin-bottom: 10rem;
}
.brand {
  border-radius: 1.5rem;
  box-shadow: 1rem 1rem 2rem 0.1rem #e0e0e0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.brand:hover {
  transform: scale(1.03);
}
.brand a {
  color: inherit;
}

.brand__content {
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}
.brand__img {
  position: relative;
  width: 100%;
  padding-top: calc(100% * 2 / 3);
}
.brand__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.brand__category,
.brand__likes {
  font-size: 1.3rem;
  color: var(--gray);
}
.brand__name {
  font-size: 2.3rem;
  font-weight: 700;
  margin: 1rem 0;
}
.brand__desc {
  font-size: 1.4rem;
}
/* END COMMON ELEMENTS */

/* BRAND LIST */
/* Header */
.brand-list__header {
  margin: 3rem 0 5rem;
}
.brand-list__category {
  text-align: center;
  font-weight: 900;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

/* Sort */
.brand-list__count {
  font-size: 1.5rem;
}
.brand-list__sort {
  font-size: 1.4rem;
  gap: 0.5rem;
}

.sort-btn__bg {
  display: flex;
  align-items: center;
  width: 5rem;
  height: 2.5rem;
  padding: 0 0.5rem;
  border-radius: 2rem;
  background: var(--gray);
  transition: all 0.3s ease-in-out;
}
.sort-btn__indicator {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: white;
  filter: drop-shadow(0.2rem 0.4rem 6rem rgba(0, 0, 0, 0.2));
  transition: all 0.3s ease-in-out;
}
.sort-btn:hover .sort-btn__bg {
  background: var(--mint);
}
.sort-btn:hover .sort-btn__indicator {
  transform: translateX(2.5rem);
  filter: drop-shadow(-0.2rem 0.4rem 0.6rem rgba(0, 0, 0, 0.2));
}

.sort-btn.active .sort-btn__bg {
  justify-content: flex-end;
  background: var(--mint);
}
.sort-btn.active .sort-btn__indicator {
  filter: drop-shadow(-0.2rem 0.4rem 0.6rem rgba(0, 0, 0, 0.2));
}
.sort-btn.active:hover .sort-btn__indicator {
  transform: translateX(-2.5rem);
  filter: drop-shadow(0.2rem 0.4rem 0.6rem rgba(0, 0, 0, 0.2));
}
/* END BRAND LIST */

/* BRAND SEARCH */
.brand-search__result {
  font-size: 2rem;
}
.brand-search__header {
  background: rgb(248, 248, 248);
  padding: 3.5rem 0;
  margin: 3rem 0 5rem 0;
}
.brand-search__count {
  color: var(--mint);
}
/* END BRAND SEARCH */
