#brand-detail {
    width: 100%;
}

.brand {
    width: 100%;
}

.brand-detail__cate {
    align-items: center;
    font-size: 1.7rem;
    padding: 1rem 15rem;
}

.brand-detail__cate a {
    font-weight: 500;
    color: var(--black);
}

.brand-detail__cate a:hover {
    color: var(--mint);
}

.brand-detail__cate i {
    padding: 0 1rem;
    color: var(--mint);
}


.brand__main {
    width: 55%;
    padding: 5rem 0 0 15rem;
}

.brand__content {
    color: white;
    height: 100%;
    margin-bottom: 3rem;
}

.brand__name {
    font-size: 6rem;
    font-weight: 700;
}

.brand__desc {
    font-size: 2.5rem;
    font-weight: 500;
    padding: 2rem 0;
}

.brand__info {
    font-size: 1.8rem;
    line-height: 3rem;
    margin-bottom: 5rem;
    font-weight: 300;
}

.brand__link {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--black);
    background-color: white;
    padding: 1.5rem 10rem;
    border-radius: 0.3rem;
}

.brand__link:hover {
    color: var(--black);
}

.brand__link i, .brand__likes i, .share-btn i {
    margin-right: 1rem;
}

.brand__interactions {
    display: flex;
    flex-direction: column;
}

.brand__likes {
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
    background: none;
    width: 35.2rem;
    padding: 1.5rem 8rem;
    border-radius: 0.3rem;
}

.share-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--black);
    background-color: white;
    width: 35.2rem;
    padding: 1.5rem 8rem;
    border-radius: 0.3rem;
    margin-top: 1.8rem;
}

footer {
    margin-top: 0;
}