.kakao {
  background: #fae100;
}
.kakao img {
  position: relative;
  right: -0.05rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
.facebook {
  background: #3b5998;
}
.twitter {
  background: #55acee;
}
.url-btn {
  background: var(--black);
}

.brand__share {
  position: relative;
}
.brand__share ul {
  gap: 1rem;
  position: absolute;
  top: 2.8rem;
  transform: translateX(-45%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.brand__share:hover ul {
  opacity: 1;
}
.brand__share ul button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  filter: drop-shadow(0.5rem 0.5rem 0.3rem rgba(0, 0, 0, 0.2));
  color: white;
  font-size: 1.5rem;
}
.brand__share img,
.brand__share i {
  transition: all 0.2s ease-in-out;
}
.brand__share ul button:hover img,
.brand__share ul button:hover i {
  transform: scale(1.15);
}
