.social .fbtn {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  line-height: 1.8rem;
  float: left;
}
.social .fa {
  padding: 1.5rem 0;
}
.facebook {
  background-color: #3b5998;
}
.twitter {
  background-color: #55acee;
}
.url-btn {
  background-color: black;
}

.share-button.sharer {
  height: 2rem;
}
.share-button.sharer .social.active.bottom {
  transform: translateY(1rem);
}
.share-button.sharer .social.active {
  opacity: 1;
  transition: all 0.4s ease;
  visibility: visible;
}
.share-button.sharer .social.bottom {
  margin-top: 1rem;
  /* transform-origin: 0 0 0; */
}
.share-button.sharer .social {
  margin-left: -5rem;
  opacity: 0;
  transition: all 0.4s ease;
  visibility: hidden;
}
